<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    {%include 'navBar.html'%}
    <h1>{{title}}</h1>

    <form id = "admin-form" method = "POST" action = "/admin">
        <input type = "text" placeholder="Question Text" name = "question"><br>
        <input type = "text" placeholder="answer" name = "answer"></br>
        <input type = "text" placeholder="points" name = "points"></br>
        <input type = "submit" value = "Submit">
    </form>
</body>
</html>