<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    QuizBox
    <br>
    
    <nav>
        <a href = "/problems"> Problems</a>
        <a href = "/profile"> My Profile</a>
        <a href = "/users"> Leaderboard</a>
        <a href = "/login"> Login</a>
    </nav>

    <div>
        <ul>
            {% for data in questions %}
                <li>
                    <div id = {{data.id}}>
                        <a href = "/problems/{{data.id}}">{{data.question}}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>